In this lecture we're going to review some of the basics of statistical testing in python. We're going to
talk about hypothesis testing, statistical significance, and using scipy to run student's t-tests.

In [69]:
# We use statistics in a lot of different ways in data science, and on this lecture, I want to refresh your
# knowledge of hypothesis testing, which is a core data analysis activity behind experimentation. The goal of
# hypothesis testing is to determine if, for instance, the two different conditions we have in an experiment 
# have resulted in different impacts

# Let's import our usual numpy and pandas libraries
import numpy as np
import pandas as pd

# Now let's bring in some new libraries from scipy
from scipy import stats

In [70]:
# Now, scipy is an interesting collection of libraries for data science and you'll use most or perpahs all of
# these libraries. It includes numpy and pandas, but also plotting libraries such as matplotlib, and a
# number of scientific library functions as well

In [71]:
# When we do hypothesis testing, we actually have two statements of interest: the first is our actual
# explanation, which we call the alternative hypothesis, and the second is that the explanation we have is not
# sufficient, and we call this the null hypothesis. Our actual testing method is to determine whether the null
# hypothesis is true or not. If we find that there is a difference between groups, then we can reject the null
# hypothesis and we accept our alternative.

# Let's see an example of this; we're going to use some grade data
df=pd.read_csv ('datasets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [72]:
# If we take a look at the data frame inside, we see we have six different assignments. Lets look at some
# summary statistics for this DataFrame
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [73]:
# For the purpose of this lecture, let's segment this population into two pieces. Let's say those who finish
# the first assignment by the end of December 2015, we'll call them early finishers, and those who finish it 
# sometime after that, we'll call them late finishers.

early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [94]:
#selecting out later finishers from data
##Method1
diff = set(df.index) - set(early_finishers.index)
diff = list(diff)
dfe = df[df.index.isin(diff) == True]
dfe

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000
10,ECFE7BB7-F618-A5B9-7A57-3BD2BCC0D880,45.838780,2016-03-20 19:34:12.195000000,41.254902,2016-03-29 02:41:42.147000000,41.254902,2016-06-17 16:02:57.008000000,33.003921,2016-04-03 23:02:17.434000000,33.003921,2016-05-09 03:13:56.962000000,29.703529,2016-05-11 14:25:24.859000000
12,F2A4439C-F8D6-D47D-D884-C62E40366413,92.295151,2016-03-05 02:21:17.521000000,83.065636,2016-03-09 02:07:55.871000000,83.065636,2016-04-13 20:43:06.996000000,83.065636,2016-03-18 04:14:28.036000000,74.759072,2016-03-23 04:05:14.341000000,74.759072,2016-03-28 14:06:55.136000000
13,8DC055F5-4B63-6CD1-9BAD-A2D927E01CDA,79.129632,2016-06-24 13:25:33.546000000,71.216669,2016-06-30 14:18:26.835000000,56.973335,2016-07-06 16:50:03.385000000,45.578668,2016-07-07 13:51:18.904000000,45.578668,2016-07-12 13:52:46.565000000,41.020801,2016-07-15 11:17:40.459000000
14,35A9117B-9278-8C97-7180-DC1319117AB8,83.552847,2016-02-22 07:26:55.768000000,75.197563,2016-02-29 07:57:19.661000000,67.677806,2016-03-03 08:03:54.513000000,67.677806,2016-03-07 07:54:21.789000000,67.677806,2016-03-14 08:21:24.435000000,67.677806,2016-03-16 23:01:44.163000000
16,70A7A4AB-49ED-C587-D6E2-1518863B3411,42.299189,2016-02-08 01:14:24.186000000,38.069270,2016-02-13 23:18:15.012000000,38.069270,2016-02-17 20:10:25.983000000,38.069270,2016-02-20 18:33:32.324000000,30.455416,2016-02-28 01:04:20.185000000,30.455416,2016-02-29 04:39:30.208000000
18,15A04776-A6C6-72DC-B55F-A6A82B95E0B2,60.638097,2016-03-04 21:39:56.656000000,48.510477,2016-03-07 03:17:54.892000000,38.808382,2016-03-16 01:32:31.762000000,31.046705,2016-03-15 00:54:07.620000000,31.046705,2016-03-16 22:51:45.477000000,31.046705,2016-03-25 15:24:15.703000000
20,D5E03B6F-E4AB-AD56-FCB5-12ACA02D3622,82.478383,2016-03-03 03:13:32.174000000,65.982706,2016-03-08 01:17:52.026000000,59.384436,2016-03-11 03:01:36.393000000,47.507549,2016-03-20 13:15:16.322000000,42.756794,2016-03-26 16:30:52.565000000,34.205435,2016-03-27 17:37:01.806000000
21,E03DE248-3570-3C31-77F7-5138764837A6,73.198584,2016-03-10 18:23:55.216000000,73.198584,2016-03-18 14:58:20.992000000,73.198584,2016-03-27 20:07:40.021000000,58.558867,2016-03-18 15:08:19.787000000,58.558867,2016-03-21 13:56:15.185000000,58.558867,2016-04-09 05:38:41.458000000
23,4D914022-B7D7-52C4-A1BB-479166DB7347,99.886995,2016-01-11 01:21:31.296000000,89.898296,2016-01-16 21:06:28.749000000,89.898296,2016-01-20 16:54:15.526000000,71.918637,2016-01-24 20:38:16.485000000,57.534909,2016-01-31 17:32:24.088000000,51.781418,2016-02-02 02:07:44.833000000
26,D887D9D7-6993-7618-5333-1DBC732CAA5E,81.471342,2016-01-09 10:52:36.062000000,73.324208,2016-01-16 09:17:15.151000000,73.324208,2016-01-17 14:24:10.464000000,73.324208,2016-01-23 13:39:19.386000000,65.991787,2016-01-26 15:43:52.497000000,59.392608,2016-01-29 18:05:37.371000000
29,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,90.868490,2016-01-22 22:44:12.162000000,72.694792,2016-01-31 23:31:59.096000000,58.155833,2016-02-06 18:29:44.963000000,58.155833,2016-02-05 20:35:50.405000000,46.524667,2016-02-15 21:19:23.484000000,37.219733,2016-02-18 08:35:04.772000000
30,247B105C-2067-A7AA-2CBE-B65278128C96,73.123548,2016-02-08 04:24:49.430000000,65.811193,2016-02-15 03:30:59.415000000,59.230074,2016-02-18 08:34:58.226000000,59.230074,2016-02-21 02:49:34.513000000,53.307067,2016-02-27 17:20:44.317000000,42.645653,2016-02-29 00:51:01.830000000
32,25197F10-E9E9-4C50-63F8-6C896975AAE2,82.932464,2016-01-06 00:03:25.671000000,74.639217,2016-02-11 10:06:06.527000000,74.639217,2016-02-16 15:43:28.317000000,59.711374,2016-02-13 01:03:52.380000000,59.711374,2016-04-06 09:49:34.538000000,59.711374,2016-04-08 00:40:06.590000000
33,247B105C-2067-A7AA-2CBE-B65278128C96,46.280480,2016-01-07 22:03:01.757000000,46.280480,2016-01-09 22:51:18.764000000,37.024384,2016-01-20 22:24:21.347000000,37.024384,2016-01-14 22:50:22.129000000,37.024384,2016-01-20 23:06:37.808000000,29.619507,2016-01-28 01:03:39.584000000
34,DDE0526B-7DA4-80E8-C2A6-D097F3826029,94.943727,2016-01-04 16:05:19.199000000,94.943727,2016-01-05 20:46:09.210000000,75.954982,2016-01-20 08:52:24.584000000,68.359484,2016-01-20 17:59:04.646000000,61.523535,2016-01-22 15:16:41.486000000,49.218828,2016-01-30 18:37:02.429000000
36,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,70.211257,2016-08-05 12:13:24.333000000,63.190131,2016-08-08 13:55:01.837000000,56.871118,2016-08-10 13:11:18.342000000,45.496894,2016-08-15 06:20:36.336000000,36.397516,2016-08-17 09:44:31.612000000,36.397516,2016-08-26 14:40:12.755000000
38,1F51E050-78F7-F270-1B90-ED1BC0376763,73.355346,2016-04-30 02:46:23.038000000,66.019811,2016-05-08 03:55:16.492000000,66.019811,2016-05-12 07:47:16.299000000,59.417830,2016-05-12 00:32:37.336000000,59.417830,2016-05-20 00:09:09.693000000,59.417830,2016-05-24 01:59:13.026000000
39,247B105C-2067-A7AA-2CBE-B65278128C96,90.646765,2016-06-26 07:54:41.754000000,81.582089,2016-07-03 14:04:30.332000000,81.582089,2016-07-09 13:21:29.058000000,65.265671,2016-07-10 13:57:12.930000000,52.212537,2016-07-17 14:32:56.747000000,41.770029,2016-07-21 07:47:46.977000000
40,25197F10-E9E9-4C50-63F8-6C896975AAE2,82.384429,2016-06-01 04:29:50.258000000,74.145987,2016-06-07 03:57:37.947000000,74.145987,2016-06-19 13:59:35.444000000,59.316789,2016-06-13 02:26:48.017000000,53.385110,2016-06-19 18:45:05.530000000,48.046599,2016-06-23 11:54:03.482000000
43,2B806EF6-A590-1C00-F0C5-1469E3B2152E,56.947070,2016-01-22 19:00:32.457000000,51.252363,2016-01-28 01:49:01.106000000,51.252363,2016-02-01 20:13:59.975000000,41.001890,2016-02-07 22:59:55.515000000,32.801512,2016-02-10 23:55:44.668000000,32.801512,2016-02-16 06:35:55.945000000
47,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,77.820115,2016-05-29 02:00:08.219000000,62.256092,2016-06-11 03:20:28.731000000,49.804873,2016-06-18 04:26:05.290000000,39.843899,2016-06-17 00:19:48.646000000,35.859509,2016-06-18 06:27:13.770000000,32.273558,2016-06-20 04:59:57.889000000
49,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,42.297117,2016-01-24 09:14:15.737000000,42.297117,2016-01-30 08:08:16.393000000,38.067405,2016-02-01 18:10:00.357000000,30.453924,2016-02-03 15:21:00.787000000,27.408532,2016-02-11 11:01:31.883000000,21.926825,2016-02-15 12:07:12.016000000
51,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,72.075367,2016-05-15 02:21:55.044000000,64.867830,2016-05-20 20:56:33.041000000,51.894264,2016-05-30 12:41:23.943000000,41.515412,2016-05-31 00:48:49.801000000,33.212329,2016-06-09 16:36:38.660000000,33.212329,2016-06-16 18:32:51.576000000
56,DDE0526B-7DA4-80E8-C2A6-D097F3826029,83.168765,2016-01-11 05:21:36.712000000,66.535012,2016-01-15 05:10:57.005000000,66.535012,2016-01-19 20:54:55.112000000,53.228010,2016-01-20 07:37:04.064000000,42.582408,2016-01-29 07:57:57.388000000,42.582408,2016-02-02 05:04:11.243000000
57,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,57.362777,2016-01-10 10:52:57.450000000,57.362777,2016-01-16 03:33:05.322000000,45.890221,2016-01-22 16:53:51.770000000,41.301199,2016-01-21 14:14:36.907000000,41.301199,2016-01-21 14:52:23.819000000,37.171079,2016-02-02 10:02:35.633000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260,2B806EF6-A590-1C00-F0C5-1469E3B2152E,87.887060,2016-02-21 20:51:17.290000000,87.887060,2016-02-29 00:39:46.914000000,79.098354,2016-03-01 02:18:55.852000000,79.098354,2016-03-06 17:32:36.864000000,71.188518,2016-03-13 22:24:32.169000000,64.069666,2016-03-15 00:32:23.185000000
2262,247B105C-2067-A7AA-2CBE-B65278128C96,81.550466,2016-04-30 22:47:07.637000000,65.240373,2016-05-05 20:44:17.780000000,52.192298,2016-05-12 07:47:16.969000000,52.192298,2016-05-15 13:18:04.657000000,41.753839,2016-05-22 18:13:46.377000000,33.403071,2016-05-23 20:09:34.736000000
2265,1F51E050-78F7-F270-1B90-ED1BC0376763,88.704117,2016-03-21 08:46:15.534000000,70.963294,2016-03-25 13:11:52.864000000,63.866964,2016-03-30 18:53:03.050000000,63.866964,2016-04-04 20:17:51.426000000,57.480268,2016-04-08 14:54:09.945000000,45.984214,2016-04-12 19:46:40.207000000
2266,25197F10-E9E9-4C50-63F8-6C896975AAE2,84.855592,2016-01-24 14:17:19.503000000,84.855592,2016-01-30 17:28:07.614000000,84.855592,2016-06-03 01:10:59.029000000,84.855592,2016-02-07 17:10:57.301000000,67.884474,2016-03-07 17:55:54.702000000,67.884474,2016-06-23 11:54:03.807000000
2271,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,75.503760,2016-06-09 22:19:15.379000000,67.953384,2016-06-13 00:58:55.518000000,61.158046,2016-06-23 03:54:00.275000000,61.158046,2016-06-22 01:05:31.897000000,55.042241,2016-06-29 22:43:40.019000000,55.042241,2016-07-16 17:17:59.751000000
2272,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,91.162853,2016-01-24 12:25:52.718000000,72.930282,2016-01-28 22:05:23.970000000,72.930282,2016-02-02 00:35:31.232000000,72.930282,2016-02-14 13:20:33.963000000,72.930282,2016-02-14 13:33:39.555000000,65.637254,2016-02-15 16:15:16.381000000
2273,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,62.233540,2016-04-29 17:18:24.526000000,56.010186,2016-05-06 11:03:45.331000000,56.010186,2016-05-12 07:47:17.655000000,50.409168,2016-05-12 15:30:52.485000000,50.409168,2016-05-20 11:51:44.824000000,50.409168,2016-05-21 14:27:57.673000000
2274,2B806EF6-A590-1C00-F0C5-1469E3B2152E,68.184691,2016-06-13 01:47:03.615000000,54.547753,2016-06-19 23:09:18.747000000,43.638202,2016-06-20 23:56:15.679000000,39.274382,2016-06-27 02:10:37.206000000,31.419505,2016-07-03 16:49:56.845000000,25.135604,2016-07-05 04:19:26.540000000
2275,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,58.208153,2016-05-14 07:45:16.344000000,52.387338,2016-05-16 07:21:14.599000000,47.148604,2016-05-19 09:50:11.311000000,47.148604,2016-05-23 06:26:38.432000000,47.148604,2016-05-31 06:50:13.591000000,37.718883,2016-06-08 16:29:18.057000000
2276,1F51E050-78F7-F270-1B90-ED1BC0376763,68.231060,2016-02-05 06:16:17.694000000,54.584848,2016-02-12 21:10:53.754000000,43.667878,2016-02-17 08:33:34.968000000,39.301090,2016-02-19 16:04:42.021000000,35.370981,2016-02-27 22:50:58.927000000,35.370981,2016-02-29 20:23:21.053000000
2278,2B806EF6-A590-1C00-F0C5-1469E3B2152E,67.547252,2016-04-22 17:35:22.949000000,54.037802,2016-04-14 23:02:04.101000000,48.634022,2016-06-20 18:08:02.095000000,48.634022,2016-04-22 17:30:01.697000000,38.907217,2016-06-06 02:30:44.900000000,31.125774,2016-07-06 06:00:46.227000000
2279,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,39.060719,2016-02-20 13:11:25.703000000,31.248575,2016-02-20 17:08:07.192000000,31.248575,2016-03-01 17:10:48.014000000,24.998860,2016-02-26 16:15:25.021000000,22.498974,2016-03-02 14:28:52.550000000,20.249076,2016-03-11 11:09:22.459000000
2282,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,38.255554,2016-02-18 19:35:26.698000000,38.255554,2016-02-27 14:10:14.211000000,34.429998,2016-03-01 23:33:49.764000000,34.429998,2016-03-03 14:38:08.791000000,34.429998,2016-03-12 14:22:06.700000000,27.543999,2016-03-13 15:35:48.446000000
2283,247B105C-2067-A7AA-2CBE-B65278128C96,70.066774,2016-04-30 19:40:11.261000000,63.060097,2016-04-30 21:11:50.988000000,56.754087,2016-06-20 12:28:26.505000000,56.754087,2016-05-12 02:51:22.842000000,45.403270,2016-05-20 02:38:59.312000000,36.322616,2016-05-21 21:24:53.319000000
2284,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,73.128157,2016-01-23 09:47:46.836000000,73.128157,2016-01-30 14:03:14.413000000,73.128157,2016-02-20 07:32:08.996000000,58.502525,2016-02-07 18:18:51.862000000,46.802020,2016-02-13 10:55:03.099000000,42.121818,2016-02-15 10:36:30.493000000
2286,25197F10-E9E9-4C50-63F8-6C896975AAE2,95.655352,2016-04-18 03:39:54.567000000,86.089817,2016-04-25 04:03:37.348000000,86.089817,2016-04-28 07:46:11.988000000,68.871853,2016-05-02 05:53:54.103000000,55.097483,2016-05-09 06:13:37.686000000,55.097483,2016-05-15 20:31:40.119000000
2287,DDE0526B-7DA4-80E8-C2A6-D097F3826029,58.181599,2016-01-07 04:16:27.258000000,52.363439,2016-01-09 23:35:53.020000000,41.890752,2016-01-19 21:24:08.081000000,37.701676,2016-01-10 15:42:26.688000000,33.931509,2016-01-11 02:28:48.528000000,33.931509,2016-02-04 00:44:23.751000000
2290,247B105C-2067-A7AA-2CBE-B65278128C96,82.464507,2016-02-21 13:39:00.754000000,65.971605,2016-02-26 23:24:43.600000000,65.971605,2016-02-29 12:15:52.096000000,59.374445,2016-02-29 09:14:19.250000000,59.374445,2016-03-04 09:25:43.653000000,53.437000,2016-03-11 07:04:46.172000000
2293,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,60.301026,2016-04-30 16:44:49.449000000,60.301026,2016-05-08 14:36:40.165000000,60.301026,2016-06-05 18:17:25.719000000,54.270924,2016-05-15 22:33:19.455000000,43.416739,2016-06-19 15:28:28.126000000,34.733391,2016-06-20 11:58:23.006000000
2295,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,38.788636,2016-01-10 21:37:09.758000000,38.788636,2016-01-17 18:38:10.120000000,31.030909,2016-01-21 03:24:26.498000000,31.030909,2016-01-24 00:31:28.732000000,27.927818,2016-01-29 23:37:09.675000000,25.135036,2016-02-02 00:05:52.959000000
2297,25197F10-E9E9-4C50-63F8-6C896975AAE2,91.192781,2016-05-01 21:32:57.526000000,72.954225,2016-05-09 00:22:33.552000000,72.954225,2016-05-12 07:47:16.274000000,58.363380,2016-05-16 00:16:06.502000000,46.690704,2016-05-22 21:30:56.947000000,42.021633,2016-05-24 20:33:09.998000000
2298,DDE0526B-7DA4-80E8-C2A6-D097F3826029,68.571967,2016-01-24 02:07:02.216000000,61.714770,2016-01-30 03:35:47.727000000,49.371816,2016-01-31 20:15:38.336000000,39.497453,2016-02-02 06:00:17.713000000,31.597962,2016-02-10 06:00:25.069000000,25.278370,2016-02-12 23:47:21.212000000
2300,1F51E050-78F7-F270-1B90-ED1BC0376763,88.777948,2016-01-20 01:01:43.561000000,71.022359,2016-01-25 22:21:09.036000000,56.817887,2016-01-31 21:43:19.385000000,51.136098,2016-01-31 12:00:55.248000000,40.908879,2016-02-11 10:26:33.797000000,32.727103,2016-02-16 21:41:16.006000000
2301,25197F10-E9E9-4C50-63F8-6C896975AAE2,74.260083,2016-04-16 03:31:22.783000000,66.834075,2016-04-21 00:39:01.987000000,66.834075,2016-04-22 23:42:19.906000000,53.467260,2016-04-30 03:47:35.029000000,53.467260,2016-05-08 23:31:58.468000000,53.467260,2016-05-11 23:17:21.905000000
2302,2B806EF6-A590-1C00-F0C5-1469E3B2152E,62.048275,2016-01-22 12:47:07.823000000,62.048275,2016-01-25 08:05:08.888000000,49.638620,2016-01-29 13:33:29.547000000,49.638620,2016-01-31 03:36:13.810000000,44.674758,2016-01-31 08:50:07.095000000,40.207282,2016-02-08 08:58:27.243000000
2303,DDE0526B-7DA4-80E8-C2A6-D097F3826029,97.215052,2016-01-23 09:19:40.494000000,77.772041,2016-01-26 08:38:13.085000000,69.994837,2016-01-29 15:04:34.705000000,62.995353,2016-02-06 12:51:00.647000000,50.396283,2016-02-11 15:44:08.113000000,50.396283,2016-02-14 09:03:33.466000000
2306,DDE0526B-7DA4-80E8-C2A6-D097F3826029,47.696703,2016-06-22 20:21:58.182000000,38.157363,2016-06-23 18:22:45.622000000,38.157363,2016-07-02 22:18:59.529000000,30.525890,2016-06-28 22:05:38.100000000,30.525890,2016-07-09 20:08:14.734000000,30.525890,2016-07-17 15:17:58.502000000
2307,1F51E050-78F7-F270-1B90-ED1BC0376763,94.595758,2016-01-20 23:22:16.592000000,85.136182,2016-01-27 22:30:29.914000000,76.622564,2016-01-31 15:39:45.088000000,68.960307,2016-02-06 21:43:05.836000000,62.064277,2016-02-14 18:52:48.594000000,49.651421,2016-02-19 20:36:16.121000000
2310,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,77.684611,2016-03-07 02:52:24.378000000,69.916150,2016-03-11 22:02:39.161000000,69.916150,2016-03-17 07:30:09.261000000,69.916150,2016-03-18 18:01:24.525000000,55.932920,2016-03-20 06:38:12.120000000,50.339628,2016-03-25 11:00:06.923000000
2313,1F51E050-78F7-F270-1B90-ED1BC0376763,87.268366,2016-04-03 09:04:51.646000000,87.268366,2016-04-08 19:24:29.095000000,87.268366,2016-04-12 05:43:33.853000000,69.814693,2016-04-14 10:43:58.104000000,55.851754,2016-04-19 05:37:19.322000000,55.851754,2016-04-23 03:44:06.813000000

In [95]:
dfe.shape

(1056, 13)

In [96]:
early_finishers

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000
11,B017B4A6-1F41-9D46-A040-21B0D270D4BE,76.670469,2015-10-05 02:11:05.947000000,68.573422,2015-10-11 23:08:01.288000000,69.273422,2015-10-14 06:03:04.482000000,54.698738,2015-10-19 00:34:45.875000000,49.228864,2015-10-24 11:25:20.846000000,49.228864,2015-10-26 15:56:55.374000000
15,24827B50-2FC2-E4B0-E2A0-1989E17749B3,14.959603,2015-11-17 01:16:07.800000000,14.459603,2015-11-22 15:00:14.342000000,12.307682,2015-11-28 13:12:23.939000000,9.126146,2015-11-29 17:06:51.153000000,8.213531,2015-12-06 21:21:09.208000000,7.392178,2015-12-10 01:16:09.387000000
17,D6EFCCCA-82CA-C4BE-1C3E-D0477DE28B24,53.555227,2015-09-17 13:06:39.955000000,53.055227,2015-09-20 09:57:00.973000000,48.469704,2015-09-21 13:17:53.140000000,47.569704,2015-09-22 10:12:42.156000000,42.812734,2015-09-27 10:58:56.037000000,42.812734,2015-09-30 18:24:47.681000000
19,C040D322-E970-4E8F-22A6-2FFAF2D74061,36.383575,2015-11-12 14:05:47.682000000,32.315217,2015-11-29 12:17:05.380000000,33.015217,2015-12-24 08:32:51.206000000,25.692174,2015-12-15 12:46:09.484000000,20.553739,2015-12-27 06:11:42.755000000,16.442991,2016-01-04 07:07:44.849000000
22,A1331E62-50B5-94FC-E0CE-3092CB3D30D9,88.901114,2015-09-16 22:33:02.686000000,70.760891,2015-09-23 23:30:17.970000000,64.404802,2015-09-30 03:54:05.524000000,50.803842,2015-10-02 00:38:00.096000000,50.803842,2015-10-08 18:57:57.501000000,45.723457,2015-10-10 20:42:09.120000000
24,FCB5854D-D84C-E8BA-4AF8-59FCF9CC69CB,88.700055,2015-11-22 08:35:35.912000000,79.400050,2015-11-25 19:20:11.290000000,80.100050,2015-12-02 18:55:26.445000000,79.200050,2015-12-03 19:24:01.221000000,79.200050,2015-12-06 11:34:37.729000000,63.360040,2015-12-10 21:25:51.824000000
25,A4FB423A-E08E-559F-DCCD-A0A543E812E3,73.256087,2015-11-15 18:13:44.573000000,72.756087,2015-11-15 18:05:14.054000000,73.456087,2016-03-01 00:12:01.739000000,58.044870,2015-12-06 16:52:47.276000000,58.044870,2015-12-07 08:58:32.626000000,46.435896,2016-02-22 21:18:35.884000000
27,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,75.756429,2015-09-18 20:18:12.171000000,75.256429,2015-09-29 20:18:02.673000000,75.956429,2015-10-10 15:11:56.910000000,60.045143,2015-09-30 23:19:46.018000000,54.040629,2015-10-12 00:42:54.909000000,54.040629,2015-12-10 21:25:50.740000000
28,DDE0526B-7DA4-80E8-C2A6-D097F3826029,94.437504,2015-12-20 23:25:46.655000000,93.937504,2015-12-21 13:27:26.211000000,94.637504,2015-12-30 23:04:46.997000000,74.990003,2015-12-21 19:42:25.147000000,59.992002,2015-12-21 19:56:36.821000000,59.992002,2016-01-08 09:54:15.064000000
31,247B105C-2067-A7AA-2CBE-B65278128C96,67.272728,2015-11-29 11:12:19.546000000,60.115455,2015-12-06 15:35:42.732000000,48.832364,2015-12-10 08:54:52.454000000,47.932364,2015-12-13 23:15:48.104000000,47.932364,2015-12-20 15:03:54.890000000,43.139128,2015-12-21 20:36:33.494000000
35,DDE0526B-7DA4-80E8-C2A6-D097F3826029,84.569747,2015-10-04 04:48:45.093000000,67.295798,2015-10-07 18:18:34.315000000,54.576638,2015-10-12 20:42:45.112000000,53.676638,2015-10-09 23:26:44.826000000,42.941311,2015-10-10 19:48:17.128000000,38.647180,2015-10-27 06:00:25.184000000
37,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,46.216968,2015-10-12 18:17:58.284000000,41.165271,2015-10-19 12:59:31.481000000,41.865271,2015-10-20 20:00:26.665000000,36.868744,2015-10-21 11:26:24.383000000,36.868744,2015-10-23 12:10:59.128000000,33.181869,2015-10-26 19:33:49.509000000
41,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,92.313072,2015-10-04 08:05:05.734000000,91.813072,2015-10-10 09:34:59.165000000,92.513072,2015-10-13 14:10:16.018000000,73.290458,2015-10-31 04:56:08.068000000,58.632366,2015-11-18 09:19:03.352000000,52.769130,2015-12-04 09:24:50.831000000
42,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,54.648509,2015-10-17 15:57:34.382000000,48.753658,2015-10-24 11:02:00.238000000,49.453658,2015-10-26 20:51:07.415000000,48.553658,2015-10-31 10:19:25.895000000,38.842926,2015-11-07 14:48:03.969000000,38.842926,2015-11-10 21:57:05.987000000
44,1F51E050-78F7-F270-1B90-ED1BC0376763,84.397806,2015-12-14 07:48:07.185000000,83.897806,2015-12-19 08:40:55.205000000,67.858245,2015-12-24 04:01:36.978000000,60.262420,2015-12-25 13:23:07.047000000,54.236178,2016-01-02 09:53:13.686000000,48.812561,2016-01-06 07:02:46.214000000
45,DDE0526B-7DA4-80E8-C2A6-D097F3826029,74.831750,2015-10-21 20:43:13.791000000,59.505400,2015-10-22 20:38:56.557000000,54.274860,2015-10-28 00:04:16.885000000,42.699888,2015-11-02 01:09:08.848000000,38.429899,2015-11-10 20:29:15.228000000,34.586909,2015-11-12 08:58:38.999000000
46,25197F10-E9E9-4C50-63F8-6C896975AAE2,74.358688,2015-11-02 03:12:44.175000000,73.858688,2015-11-08 22:07:48.196000000,59.826950,2015-11-12 06:27:48.761000000,47.141560,2015-11-15 18:15:38.078000000,37.713248,2015-11-23 02:13:40.450000000,33.941923,2015-11-25 10:16:00.835000000
48,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,68.723308,2015-10-30 19:31:08.332000000,61.420977,2015-11-06 19:42:51.117000000,55.998880,2015-11-15 01:58:36.636000000,55.098880,2015-11-12 19:49:56.650000000,44.079104,2015-11-20 02:56:15.080000000,44.079104,2015-11-28 01:46:18.249000000
50,2B806EF6-A590-1C00-F0C5-1469E3B2152E,75.412068,2015-12-26 17:56:11.158000000,74.912068,2015-12-29 15:52:57.582000000,60.669654,2016-01-06 11:02:58.924000000,53.792689,2016-01-10 14:56:21.240000000,53.792689,2016-01-16 14:08:48.748000000,53.792689,2016-01-18 19:26:41.489000000
52,DDE0526B-7DA4-80E8-C2A6-D097F3826029,64.138166,2015-11-15 04:49:30.054000000,57.294350,2015-11-15 10:38:58.090000000,57.994350,2015-11-22 13:29:40.199000000,51.384915,2015-11-17 12:28:43.184000000,46.246423,2015-11-21 22:50:32.531000000,36.997138,2015-12-05 10:24:58.732000000
53,DDE0526B-7DA4-80E8-C2A6-D097F3826029,39.502537,2015-10-26 20:31:49.625000000,31.242030,2015-11-02 20:49:30.588000000,31.942030,2015-11-10 04:27:57.321000000,24.833624,2015-11-13 20:31:43.630000000,22.350261,2015-11-22 18:56:31.749000000,20.115235,2015-11-24 13:47:25.629000000
54,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,59.925967,2015-12-14 00:24:58.552000000,53.503370,2015-12-20 21:11:25.270000000,48.873033,2015-12-24 08:32:51.575000000,43.175730,2015-12-27 17:53:18.482000000,34.540584,2016-01-03 15:18:40.075000000,34.540584,2016-01-06 11:37:31.204000000
55,1F51E050-78F7-F270-1B90-ED1BC0376763,57.644747,2015-10-01 18:05:18.574000000,45.755797,2015-09-26 19:55:24.263000000,46.455797,2015-10-12 07:16:18.640000000,41.000218,2015-10-01 19:32:42.452000000,36.900196,2015-10-02 22:19:12.825000000,36.900196,2015-10-16 20:28:39.215000000
58,25197F10-E9E9-4C50-63F8-6C896975AAE2,95.568756,2015-10-16 09:58:24.931000000,95.068756,2015-10-22 18:25:03.503000000,95.768756,2015-11-01 17:10:05.594000000,85.381881,2015-10-26 19:40:26.723000000,85.381881,2015-10-30 09:00:05.644000000,85.381881,2015-11-07 12:24:30.521000000
59,DDE0526B-7DA4-80E8-C2A6-D097F3826029,89.708593,2015-09-19 19:21:08.042000000,71.406875,2015-09-25 19:43:54.729000000,64.986187,2015-09-30 07:56:39.411000000,51.268950,2015-10-03 23:33:31.653000000,41.015160,2015-10-10 23:46:55.214000000,36.913644,2015-10-12 16:43:00.200000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2251,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,51.425058,2015-11-30 08:45:08.446000000,50.925058,2015-11-30 11:50:59.100000000,41.480046,2015-12-11 10:41:59.605000000,32.464037,2015-12-10 11:38:44.656000000,32.464037,2015-12-20 11:21:57.807000000,25.971230,2015-12-21 12:34:57.733000000
2252,2B806EF6-A590-1C00-F0C5-1469E3B2152E,62.255515,2015-12-29 23:01:21.071000000,61.755515,2016-01-06 02:12:59.920000000,50.144412,2016-01-14 14:21:45.518000000,39.395529,2016-01-09 19:11:10.471000000,31.516423,2016-01-10 15:43:57.849000000,28.364781,2016-01-29 04:31:49.916000000
2254,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,87.734423,2015-10-26 10:52:45.953000000,78.530981,2015-11-07 09:32:09.985000000,79.230981,2015-11-11 04:27:03.163000000,62.664785,2015-11-14 17:44:52.874000000,56.398306,2015-11-20 13:41:47.752000000,56.398306,2015-11-22 17:03:05.127000000
2255,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,62.375855,2015-11-15 09:03:13.852000000,55.708269,2015-11-22 09:49:09.278000000,45.306615,2015-11-24 17:46:58.782000000,44.406615,2015-11-27 16:44:23.551000000,39.965954,2015-12-02 20:02:43.841000000,39.965954,2015-12-06 08:54:13.104000000
2257,247B105C-2067-A7AA-2CBE-B65278128C96,95.119516,2015-09-20 16:40:36.366000000,75.735613,2015-09-27 03:35:27.471000000,61.328491,2015-09-29 19:24:26.835000000,60.428491,2015-10-04 16:49:33.230000000,54.385641,2015-10-11 13:14:50.286000000,54.385641,2015-10-13 16:36:18.930000000
2261,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,72.020605,2015-11-01 15:47:52.514000000,71.520605,2015-11-09 20:32:21.950000000,57.956484,2016-01-18 15:55:13.851000000,57.056484,2016-01-10 14:36:29.710000000,57.056484,2016-01-19 10:31:20.609000000,57.056484,2016-01-25 20:04:23.751000000
2263,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,88.329148,2015-11-02 00:57:31.125000000,70.303319,2015-11-08 19:36:40.764000000,63.992987,2015-11-12 02:29:37.982000000,63.092987,2015-11-15 13:40:40.714000000,63.092987,2015-11-22 18:43:31.462000000,50.474389,2015-11-25 03:46:43.786000000
2264,DDE0526B-7DA4-80E8-C2A6-D097F3826029,86.824217,2015-09-19 22:12:32.304000000,69.099374,2015-09-27 21:13:49.648000000,62.909436,2015-09-30 02:24:59.422000000,49.607549,2015-10-04 22:12:11.506000000,49.607549,2015-10-12 03:16:14.931000000,44.646794,2015-10-13 03:44:10.281000000
2267,247B105C-2067-A7AA-2CBE-B65278128C96,86.507833,2015-12-28 02:39:25.097000000,86.007833,2015-12-30 16:14:35.738000000,78.127050,2016-01-07 08:55:44.511000000,61.781640,2016-01-11 01:50:34.129000000,49.425312,2016-01-17 17:40:43.970000000,39.540249,2016-01-20 19:54:46.867000000
2268,DDE0526B-7DA4-80E8-C2A6-D097F3826029,78.438381,2015-12-14 05:10:49.343000000,77.938381,2015-12-21 06:25:19.560000000,70.864543,2015-12-24 08:32:51.190000000,69.964543,2016-01-04 03:02:45.928000000,69.964543,2016-01-04 03:11:40.725000000,69.964543,2016-07-09 05:49:05.759000000
2269,1F51E050-78F7-F270-1B90-ED1BC0376763,62.842774,2015-09-17 14:45:58.903000000,56.128497,2015-09-21 19:24:17.139000000,51.235647,2015-09-26 08:48:53.703000000,45.302083,2015-10-01 13:59:51.750000000,40.771874,2015-10-07 16:25:56.328000000,36.694687,2015-10-10 17:41:29.062000000
2270,25197F10-E9E9-4C50-63F8-6C896975AAE2,75.009522,2015-11-01 22:22:26.638000000,59.647618,2015-11-07 17:54:42.584000000,48.458094,2015-11-11 07:55:32.959000000,42.802285,2015-11-15 11:31:00.428000000,38.522056,2015-11-21 13:37:43.568000000,34.669851,2015-11-24 03:47:05.599000000
2277,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,84.572437,2015-10-19 05:08:47.251000000,75.685193,2015-10-22 04:26:14.716000000,76.385193,2015-10-27 15:29:57.235000000,67.936674,2015-10-26 16:42:28.346000000,67.936674,2015-10-29 17:00:11.428000000,67.936674,2016-01-14 00:51:38.759000000
2280,247B105C-2067-A7AA-2CBE-B65278128C96,61.897192,2015-09-21 06:38:44.559000000,61.397192,2015-09-27 10:04:11.626000000,49.857753,2015-09-28 09:50:49.260000000,39.166203,2015-09-28 13:23:18.050000000,35.249583,2015-10-07 14:19:31.365000000,31.724624,2015-10-12 18:41:33.674000000
2281,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,47.544490,2015-10-01 17:26:05.341000000,42.360041,2015-10-09 13:15:53.790000000,43.060041,2015-10-12 22:08:59.795000000,37.944037,2015-10-15 12:21:16.315000000,37.944037,2015-10-22 16:59:45.780000000,34.149633,2015-10-23 17:57:52.385000000
2285,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,99.467096,2015-10-18 22:02:27.541000000,79.213677,2015-10-23 22:31:54.001000000,72.012309,2015-11-07 18:55:24.713000000,71.112309,2015-10-29 20:29:58.013000000,64.001078,2015-11-06 03:03:41.727000000,51.200863,2015-11-09 22:57:28.638000000
2288,DDE0526B-7DA4-80E8-C2A6-D097F3826029,100.009744,2015-10-18 22:08:01.298000000,79.647795,2015-10-26 03:14:55.856000000,64.458236,2015-10-28 22:03:28.868000000,57.202413,2015-11-01 15:48:02.103000000,45.761930,2015-11-07 20:59:41.986000000,36.609544,2015-11-12 02:58:56.525000000
2289,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,84.266188,2015-09-27 20:09:58.143000000,67.052950,2015-09-27 02:15:35.316000000,67.752950,2015-11-11 22:26:27.965000000,60.167655,2015-10-03 00:16:34.509000000,60.167655,2015-10-11 07:01:17.374000000,60.167655,2015-10-14 22:02:42.243000000
2291,2B806EF6-A590-1C00-F0C5-1469E3B2152E,92.912163,2015-10-05 00:18:07.951000000,92.412163,2015-10-09 10:06:10.730000000,83.890947,2015-10-19 03:00:39.917000000,82.990947,2015-10-11 00:35:51.029000000,74.691852,2015-10-11 10:19:01.676000000,67.222667,2015-10-21 13:57:35.341000000
2292,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,79.229081,2015-12-31 17:52:25.141000000,71.306173,2016-02-02 00:03:59.763000000,64.175555,2016-02-14 10:04:23.709000000,57.758000,2016-02-02 00:17:03.778000000,46.206400,2016-02-02 00:26:23.733000000,41.585760,2016-02-16 12:36:50.959000000
2294,DDE0526B-7DA4-80E8-C2A6-D097F3826029,75.499444,2015-11-01 15:41:55.707000000,60.039556,2015-11-08 21:37:21.087000000,54.755600,2015-11-12 04:57:30.730000000,43.084480,2015-11-14 11:34:40.193000000,43.084480,2015-11-22 13:13:04.751000000,34.467584,2015-11-25 01:47:19.956000000
2296,25197F10-E9E9-4C50-63F8-6C896975AAE2,74.106685,2015-12-03 02:09:36.088000000,66.266016,2015-12-02 21:21:39.079000000,53.752813,2015-12-10 08:54:54.517000000,42.282251,2015-12-13 20:57:45.000000000,33.825800,2015-12-19 01:54:30.113000000,33.825800,2015-12-24 08:32:54.378000000
2299,247B105C-2067-A7AA-2CBE-B65278128C96,58.760286,2015-12-27 00:22:12.955000000,46.648229,2016-01-01 14:53:45.588000000,47.348229,2016-01-07 05:53:53.600000000,37.158583,2016-01-08 22:22:46.239000000,33.442725,2016-07-25 16:55:30.284000000,26.754180,2016-08-01 10:47:45.037000000
2304,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,65.123101,2015-09-19 10:51:49.169000000,51.738481,2015-09-20 10:24:54.245000000,42.130785,2015-09-29 00:53:36.851000000,41.230785,2015-09-21 10:07:47.047000000,32.984628,2015-09-27 16:47:31.807000000,26.387702,2015-10-12 14:45:59.142000000
2305,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,76.819524,2015-09-29 22:20:29.379000000,61.095619,2015-09-30 16:52:09.570000000,61.795619,2015-10-06 17:31:52.022000000,48.716495,2015-10-08 04:25:03.280000000,48.716495,2015-10-12 21:25:01.662000000,48.716495,2015-10-23 18:29:54.030000000
2308,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,71.481182,2015-10-03 09:04:46.358000000,70.981182,2015-10-06 03:57:28.420000000,64.603064,2015-10-12 07:58:25.081000000,63.703064,2015-10-17 07:59:49.005000000,50.962451,2015-10-18 02:29:34.374000000,45.866206,2015-10-27 00:21:47.208000000
2309,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,82.640274,2015-10-01 23:25:20.529000000,65.752219,2015-10-05 02:06:11.522000000,53.341775,2015-10-22 23:58:36.426000000,47.197598,2015-10-16 12:32:56.809000000,47.197598,2015-10-24 12:16:54.993000000,37.758078,2015-10-26 10:34:41.293000000
2311,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,75.367870,2015-11-29 02:43:27.932000000,59.934296,2015-12-03 05:30:39.218000000,48.687437,2015-12-09 15:56:44.895000000,43.008693,2015-12-13 06:18:01.342000000,38.707824,2015-12-20 02:39:39.248000000,38.707824,2015-12-22 13:34:42.931000000
2312,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,73.269463,2015-10-20 08:09:27.418000000,58.255570,2015-11-18 19:07:06.930000000,58.955570,2015-12-10 08:54:54.871000000,52.250013,2015-11-23 19:40:00.434000000,41.800010,2015-11-29 14:23:43.659000000,41.800010,2015-12-04 09:56:07.156000000
2314,DDE0526B-7DA4-80E8-C2A6-D097F3826029,80.318105,2015-10-04 09:46:03.403000000,79.818105,2015-10-06 10:28:30.820000000,64.594484,2015-10-13 17:06:29.179000000,50.955587,2015-10-06 16:18:35.513000000,40.764470,2015-10-23 17:03:26.939000000,40.764470,2015-10-26 15:56:55.460000000

In [98]:
##Method 2
set_diff_df = pd.concat([df, early_finishers]).drop_duplicates(keep=False)
set_diff_df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [99]:
set_diff_df.shape

(1056, 13)

In [100]:
#df[pd.to_datetime(df['assignment1_submission']) < '2016']

In [103]:
early_finishers['assignment1_submission']

0       2015-11-02 06:55:34.282000000
1       2015-11-29 14:57:44.429000000
4       2015-12-13 17:06:10.750000000
5       2015-12-28 04:35:32.836000000
8       2015-12-25 02:29:28.415000000
                    ...
2308    2015-10-03 09:04:46.358000000
2309    2015-10-01 23:25:20.529000000
2311    2015-11-29 02:43:27.932000000
2312    2015-10-20 08:09:27.418000000
2314    2015-10-04 09:46:03.403000000
Name: assignment1_submission, Length: 1259, dtype: object

In [107]:
df['assignment1_submission']

0       2015-11-02 06:55:34.282000000
1       2015-11-29 14:57:44.429000000
2       2016-01-09 05:36:02.389000000
3       2016-04-30 06:50:39.801000000
4       2015-12-13 17:06:10.750000000
                    ...
2310    2016-03-07 02:52:24.378000000
2311    2015-11-29 02:43:27.932000000
2312    2015-10-20 08:09:27.418000000
2313    2016-04-03 09:04:51.646000000
2314    2015-10-04 09:46:03.403000000
Name: assignment1_submission, Length: 2315, dtype: object

In [111]:
df['assignment1_submission'][0] in set(early_finishers['assignment1_submission'])

True

In [121]:
##Method3 
dft = df.copy()
S = set(early_finishers['assignment1_submission'])
findlate = lambda x: 'early' if x['assignment1_submission'] in S else 'late'
dft['time'] = df.apply(findlate, axis=1)
dft.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission,time
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000,early
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000,early
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000,late
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000,late
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000,early

In [127]:
dfe = dft[dft['time'] == 'late']
dfe.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission,time
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000,late
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000,late
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000,late
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000,late
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000,late

In [128]:
dfe.shape

(1056, 14)

In [6]:
# So, you have lots of skills now with pandas, how would you go about getting the late_finishers dataframe?
# Why don't you pause the video and give it a try.

In [91]:
# Here's my solution. First, the dataframe df and the early_finishers share index values, so I really just
# want everything in the df which is not in early_finishers
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [92]:
late_finishers.shape

(1056, 13)

In [8]:
# There are lots of other ways to do this. For instance, you could just copy and paste the first projection
# and change the sign from less than to greater than or equal to. This is ok, but if you decide you want to
# change the date down the road you have to remember to change it in two places. You could also do a join of
# the dataframe df with early_finishers - if you do a left join you only keep the items in the left dataframe,
# so this would have been a good answer. You also could have written a function that determines if someone is
# early or late, and then called .apply() on the dataframe and added a new column to the dataframe. This is a
# pretty reasonable answer as well.

In [9]:
# As you've seen, the pandas data frame object has a variety of statistical functions associated with it. If
# we call the mean function directly on the data frame, we see that each of the means for the assignments are
# calculated. Let's compare the means for our two populations

print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [10]:
# Ok, these look pretty similar. But, are they the same? What do we mean by similar? This is where the
# students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well
# as the null hypothesis ("These are the same") and then test that null hypothesis.

# When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a
# chance we're willing to accept. This significance level is typically called alpha. #For this example, let's
# use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
# arbitrary.

# The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
# in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
# populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value.
# It's this latter value, the probability, which is most important to us, as it indicates the chance (between
# 0 and 1) of our null hypothesis being True.

# Let's bring in our ttest_ind function
from scipy.stats import ttest_ind

# Let's run this function with our two populations, looking at the assignment 1 grades
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [11]:
# So here we see that the probability is 0.18, and this is above our alpha value of 0.05. This means that we
# cannot reject the null hypothesis. The null hypothesis was that the two populations are the same, and we
# don't have enough certainty in our evidence (because it is greater than alpha) to come to a conclusion to
# the contrary. This doesn't mean that we have proven the populations are the same.

In [12]:
# Why don't we check the other assignment grades?
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [13]:
# Ok, so it looks like in this data we do not have enough evidence to suggest the populations differ with
# respect to grade. Let's take a look at those p-values for a moment though, because they are saying things
# that can inform experimental design down the road. For instance, one of the assignments, assignment 3, has a
# p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been
# considered statistically significant. As a research, this would suggest to me that there is something here
# worth considering following up on. For instance, if we had a small number of participants (we don't) or if
# there was something unique about this assignment as it relates to our experiment (whatever it was) then
# there may be followup experiments we could run.

In [14]:
# P-values have come under fire recently for being insuficient for telling us enough about the interactions
# which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used
# more regularly. One issue with p-values is that as you run more tests you are likely to get a value which
# is statistically significant just by chance.

# Lets see a simulation of this. First, lets create a data frame of 100 columns, each with 100 numbers
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.249058,0.748065,0.245871,0.164790,0.321661,0.355034,0.882641,0.304377,0.409110,0.080049,...,0.900937,0.740939,0.353839,0.928663,0.011866,0.876878,0.609879,0.721572,0.589627,0.554882
1,0.731003,0.592047,0.488109,0.969236,0.873551,0.976036,0.296337,0.398915,0.258550,0.925547,...,0.478983,0.242443,0.225005,0.803914,0.576076,0.190479,0.696137,0.573191,0.505417,0.626049
2,0.315190,0.081075,0.326315,0.166250,0.257618,0.406736,0.996209,0.986399,0.339623,0.828867,...,0.157851,0.496227,0.983652,0.971251,0.986353,0.547430,0.255769,0.165918,0.242719,0.575260
3,0.512193,0.639647,0.241200,0.819644,0.439495,0.111223,0.982239,0.574194,0.935731,0.609363,...,0.373206,0.271515,0.942992,0.701573,0.039384,0.085479,0.284002,0.509064,0.112163,0.334849
4,0.506768,0.799246,0.233428,0.849028,0.682260,0.904570,0.962683,0.734952,0.933580,0.904864,...,0.263317,0.895435,0.327082,0.872009,0.566034,0.474804,0.258897,0.316417,0.433785,0.127601

In [15]:
# Pause this and reflect -- do you understand the list comprehension and how I created this DataFrame? You
# don't have to use a list comprehension to do this, but you should be able to read this and figure out how it
# works as this is a commonly used approach on web forums.

In [16]:
# Ok, let's create a second dataframe
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [17]:
# Are these two DataFrames the same? Maybe a better question is, for a given row inside of df1, is it the same
# as the row inside df2?

# Let's take a look. Let's say our critical value is 0.1, or and alpha of 10%. And we're going to compare each
# column in df1 to the same numbered column in df2. And we'll report when the p-value isn't less than 10%,
# which means that we have sufficient evidence to say that the columns are different.

# Let's write this in a function called test_columns
def test_columns(alpha=0.1):
    # I want to keep track of how many differ
    num_diff=0
    # And now we can just iterate over the columns
    for col in df1.columns:
        # we can run out ttest_ind between the two dataframes
        teststat,pval=ttest_ind(df1[col],df2[col])
        # and we check the pvalue versus the alpha
        if pval<=alpha:
            # And now we'll just print out if they are different and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    # and let's print out some summary stats
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

# And now lets actually run this
test_columns()

Col 4 is statistically significantly different at alpha=0.1, pval=0.03171904508748956
Col 9 is statistically significantly different at alpha=0.1, pval=0.05535264960034999
Col 13 is statistically significantly different at alpha=0.1, pval=0.06411026546897207
Col 25 is statistically significantly different at alpha=0.1, pval=0.06474837389971169
Col 46 is statistically significantly different at alpha=0.1, pval=0.0766378775191977
Col 73 is statistically significantly different at alpha=0.1, pval=0.021821747279110435
Col 76 is statistically significantly different at alpha=0.1, pval=0.04067259983835964
Col 85 is statistically significantly different at alpha=0.1, pval=0.0029530262143926777
Col 86 is statistically significantly different at alpha=0.1, pval=0.010704932840894129
Total number different was 9, which is 9.0%

In [18]:
# Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
# lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
# that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.
# The more random comparisons you do, the more will just happen to be the same by chance. In this example, we
# checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

# We can test some other alpha values as well
test_columns(0.05)

Col 4 is statistically significantly different at alpha=0.05, pval=0.03171904508748956
Col 73 is statistically significantly different at alpha=0.05, pval=0.021821747279110435
Col 76 is statistically significantly different at alpha=0.05, pval=0.04067259983835964
Col 85 is statistically significantly different at alpha=0.05, pval=0.0029530262143926777
Col 86 is statistically significantly different at alpha=0.05, pval=0.010704932840894129
Total number different was 5, which is 5.0%

In [19]:
# So, keep this in mind when you are doing statistical tests like the t-test which has a p-value. Understand
# that this p-value isn't magic, that it's a threshold for you when reporting results and trying to answer
# your hypothesis. What's a reasonable threshold? Depends on your question, and you need to engage domain
# experts to better understand what they would consider significant.

# Just for fun, lets recreate that second dataframe using a non-normal distribution, I'll arbitrarily chose
# chi squared
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.0006359131132062404
Col 1 is statistically significantly different at alpha=0.1, pval=1.6254596067473314e-05
Col 2 is statistically significantly different at alpha=0.1, pval=0.032780760709076824
Col 3 is statistically significantly different at alpha=0.1, pval=0.0032178974546995965
Col 4 is statistically significantly different at alpha=0.1, pval=0.0433143837061582
Col 5 is statistically significantly different at alpha=0.1, pval=7.931565914508593e-05
Col 6 is statistically significantly different at alpha=0.1, pval=0.0017013488226864455
Col 7 is statistically significantly different at alpha=0.1, pval=0.00035664966978204754
Col 8 is statistically significantly different at alpha=0.1, pval=0.0008750262277182237
Col 9 is statistically significantly different at alpha=0.1, pval=3.9005870973813224e-05
Col 10 is statistically significantly different at alpha=0.1, pval=0.0001340016519264235
Col 11 is statistically significantly different at alpha=0.1, pval=2.9387732963990273e-06
Col 12 is statistically significantly different at alpha=0.1, pval=0.0002593817469470156
Col 13 is statistically significantly different at alpha=0.1, pval=0.0001639697026470583
Col 14 is statistically significantly different at alpha=0.1, pval=0.00015526373271627754
Col 15 is statistically significantly different at alpha=0.1, pval=4.1837854872688554e-05
Col 16 is statistically significantly different at alpha=0.1, pval=0.00139904683631816
Col 17 is statistically significantly different at alpha=0.1, pval=0.008340935008253801
Col 18 is statistically significantly different at alpha=0.1, pval=0.0005255784024108116
Col 19 is statistically significantly different at alpha=0.1, pval=0.0010508383648962462
Col 20 is statistically significantly different at alpha=0.1, pval=9.250384193688497e-05
Col 21 is statistically significantly different at alpha=0.1, pval=0.0004139078346825869
Col 22 is statistically significantly different at alpha=0.1, pval=0.000239886090894122
Col 23 is statistically significantly different at alpha=0.1, pval=0.005114973931480402
Col 24 is statistically significantly different at alpha=0.1, pval=3.9612287309026586e-06
Col 25 is statistically significantly different at alpha=0.1, pval=0.001183662110645545
Col 26 is statistically significantly different at alpha=0.1, pval=0.0013250467524673893
Col 27 is statistically significantly different at alpha=0.1, pval=0.0071413662391291675
Col 28 is statistically significantly different at alpha=0.1, pval=0.0018050525585905151
Col 29 is statistically significantly different at alpha=0.1, pval=1.8443168650897388e-07
Col 30 is statistically significantly different at alpha=0.1, pval=0.00018610780116814143
Col 31 is statistically significantly different at alpha=0.1, pval=0.003288231435508567
Col 32 is statistically significantly different at alpha=0.1, pval=0.00022788735453261414
Col 33 is statistically significantly different at alpha=0.1, pval=0.0005420802253194416
Col 34 is statistically significantly different at alpha=0.1, pval=0.00043337835781774326
Col 35 is statistically significantly different at alpha=0.1, pval=0.0009296626942443332
Col 36 is statistically significantly different at alpha=0.1, pval=0.015486530171592511
Col 37 is statistically significantly different at alpha=0.1, pval=0.08968808146980235
Col 38 is statistically significantly different at alpha=0.1, pval=0.0003984738782135047
Col 39 is statistically significantly different at alpha=0.1, pval=0.00029812833313821313
Col 40 is statistically significantly different at alpha=0.1, pval=0.00020580570179961344
Col 41 is statistically significantly different at alpha=0.1, pval=0.016524830474479658
Col 42 is statistically significantly different at alpha=0.1, pval=0.004414785565347055
Col 43 is statistically significantly different at alpha=0.1, pval=0.0006514221896553882
Col 44 is statistically significantly different at alpha=0.1, pval=0.0009246080966774699
Col 45 is statistically significantly different at alpha=0.1, pval=3.947719385039122e-05
Col 46 is statistically significantly different at alpha=0.1, pval=0.003936803652126271
Col 47 is statistically significantly different at alpha=0.1, pval=0.00021471514569468722
Col 48 is statistically significantly different at alpha=0.1, pval=0.00021533428873488688
Col 49 is statistically significantly different at alpha=0.1, pval=0.08198381088074698
Col 50 is statistically significantly different at alpha=0.1, pval=0.0005833899282268582
Col 51 is statistically significantly different at alpha=0.1, pval=0.0008976227172661998
Col 52 is statistically significantly different at alpha=0.1, pval=0.002183481627605226
Col 53 is statistically significantly different at alpha=0.1, pval=0.00011517331466172489
Col 54 is statistically significantly different at alpha=0.1, pval=0.0004539298416324909
Col 55 is statistically significantly different at alpha=0.1, pval=0.0005972354479418133
Col 56 is statistically significantly different at alpha=0.1, pval=0.00039537371324602574
Col 57 is statistically significantly different at alpha=0.1, pval=1.5992684064779836e-05
Col 58 is statistically significantly different at alpha=0.1, pval=0.0035581119921681737
Col 59 is statistically significantly different at alpha=0.1, pval=0.0009069465410284678
Col 60 is statistically significantly different at alpha=0.1, pval=0.001490617627902622
Col 61 is statistically significantly different at alpha=0.1, pval=9.982665694645061e-05
Col 62 is statistically significantly different at alpha=0.1, pval=0.0001855201502830867
Col 63 is statistically significantly different at alpha=0.1, pval=0.0717892199552874
Col 64 is statistically significantly different at alpha=0.1, pval=0.00011111316914952978
Col 65 is statistically significantly different at alpha=0.1, pval=0.0007326247241706332
Col 66 is statistically significantly different at alpha=0.1, pval=0.0006985304647035251
Col 67 is statistically significantly different at alpha=0.1, pval=4.043055942025079e-05
Col 68 is statistically significantly different at alpha=0.1, pval=0.0030620341209672865
Col 69 is statistically significantly different at alpha=0.1, pval=0.0002566485047083988
Col 70 is statistically significantly different at alpha=0.1, pval=1.5265122338601147e-05
Col 71 is statistically significantly different at alpha=0.1, pval=0.0025159633542264875
Col 72 is statistically significantly different at alpha=0.1, pval=0.006683482780335058
Col 73 is statistically significantly different at alpha=0.1, pval=0.0004996694763506213
Col 74 is statistically significantly different at alpha=0.1, pval=0.00024394144210986108
Col 75 is statistically significantly different at alpha=0.1, pval=7.077435724052419e-05
Col 76 is statistically significantly different at alpha=0.1, pval=0.0074093508129584405
Col 77 is statistically significantly different at alpha=0.1, pval=0.006900999886679228
Col 78 is statistically significantly different at alpha=0.1, pval=0.0010484064032203217
Col 79 is statistically significantly different at alpha=0.1, pval=0.0023846343634806146
Col 80 is statistically significantly different at alpha=0.1, pval=8.180792170754975e-05
Col 81 is statistically significantly different at alpha=0.1, pval=5.49471394287242e-05
Col 82 is statistically significantly different at alpha=0.1, pval=0.00033420295079797965
Col 83 is statistically significantly different at alpha=0.1, pval=0.003652590090290096
Col 84 is statistically significantly different at alpha=0.1, pval=0.0005087442921717129
Col 85 is statistically significantly different at alpha=0.1, pval=0.010877718451872447
Col 86 is statistically significantly different at alpha=0.1, pval=0.006487775025921745
Col 87 is statistically significantly different at alpha=0.1, pval=0.00012983278069724697
Col 88 is statistically significantly different at alpha=0.1, pval=0.0003217680289398193
Col 89 is statistically significantly different at alpha=0.1, pval=0.0007595005579977705
Col 90 is statistically significantly different at alpha=0.1, pval=0.0009007314132232909
Col 91 is statistically significantly different at alpha=0.1, pval=0.0041773223441325755
Col 92 is statistically significantly different at alpha=0.1, pval=0.00013412252503388242
Col 93 is statistically significantly different at alpha=0.1, pval=0.0038256024065565237
Col 94 is statistically significantly different at alpha=0.1, pval=0.0025884060593381543
Col 95 is statistically significantly different at alpha=0.1, pval=0.0008645653623897333
Col 96 is statistically significantly different at alpha=0.1, pval=0.00033563002443083584
Col 97 is statistically significantly different at alpha=0.1, pval=9.000223928968477e-06
Col 98 is statistically significantly different at alpha=0.1, pval=0.007777985999968882
Col 99 is statistically significantly different at alpha=0.1, pval=0.00024422963411248024
Total number different was 100, which is 100.0%

In [20]:
# Now we see that all or most columns test to be statistically significant at the 10% level.

In this lecture, we've discussed just some of the basics of hypothesis testing in Python. I introduced you
to the SciPy library, which you can use for the students t test. We've discussed some of the practical
issues which arise from looking for statistical significance. There's much more to learn about hypothesis
testing, for instance, there are different tests used, depending on the shape of your data and different
ways to report results instead of just p-values such as confidence intervals or bayesian analyses. But this
should give you a basic idea of where to start when comparing two populations for differences, which is a
common task for data scientists.