As we've seen, both Series and DataFrames can have indices applied to them. The index is essentially a row level
label, and in pandas the rows correspond to axis zero. Indices can either be either autogenerated, such as when 
we create a new Series without an index, in which case we get numeric values, or they can be set explicitly, like
when we use the dictionary object to create the series, or when we loaded data from the CSV file and set 
appropriate parameters. Another option for setting an index is to use the set_index() function. This function 
takes a list of columns and promotes those columns to an index. In this lecture we'll explore more about how 
indexes work in pandas.

In [1]:
# The set_index() function is a destructive process, and it doesn't keep the current index. 
# If you want to keep the current index, you need to manually create a new column and copy into 
# it values from the index attribute.

# Lets import pandas and our admissions dataset
import pandas as pd
df = pd.read_csv("datasets/Admission_Predict.csv", index_col=0)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [2]:
# Let's say that we don't want to index the DataFrame by serial numbers, but instead by the
# chance of admit. But lets assume we want to keep the serial number for later. So, lets
# preserve the serial number into a new column. We can do this using the indexing operator 
# on the string that has the column label. Then we can use the set_index to set index 
# of the column to chance of admit

# So we copy the indexed data into its own column
df['Serial Number'] = df.index
# Then we set the index to another column
df = df.set_index('Chance of Admit ')
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial Number
Chance of Admit,,,,,,,,
0.92,337,118,4,4.5,4.5,9.65,1,1
0.76,324,107,4,4.0,4.5,8.87,1,2
0.72,316,104,3,3.0,3.5,8.00,1,3
0.80,322,110,3,3.5,2.5,8.67,1,4
0.65,314,103,2,2.0,3.0,8.21,0,5

In [3]:
# You'll see that when we create a new index from an existing column the index has a name, 
# which is the original name of the column.

# We can get rid of the index completely by calling the function reset_index(). This promotes the 
# index into a column and creates a default numbered index.
df = df.reset_index()
df.head()

,Chance of Admit,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial Number
0,0.92,337,118,4,4.5,4.5,9.65,1,1
1,0.76,324,107,4,4.0,4.5,8.87,1,2
2,0.72,316,104,3,3.0,3.5,8.00,1,3
3,0.80,322,110,3,3.5,2.5,8.67,1,4
4,0.65,314,103,2,2.0,3.0,8.21,0,5

In [4]:
# One nice feature of Pandas is multi-level indexing. This is similar to composite keys in 
# relational database systems. To create a multi-level index, we simply call set index and 
# give it a list of columns that we're interested in promoting to an index.

# Pandas will search through these in order, finding the distinct data and form composite indices.
# A good example of this is often found when dealing with geographical data which is sorted by 
# regions or demographics.

# Let's change data sets and look at some census data for a better example. This data is stored in 
# the file census.csv and comes from the United States Census Bureau. In particular, this is a 
# breakdown of the population level data at the US county level. It's a great example of how 
# different kinds of data sets might be formatted when you're trying to clean them.

# Let's import and see what the data looks like
df = pd.read_csv('datasets/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [5]:
# In this data set there are two summarized levels, one that contains summary 
# data for the whole country. And one that contains summary data for each state.
# I want to see a list of all the unique values in a given column. In this 
# DataFrame, we see that the possible values for the sum level are using the 
# unique function on the DataFrame. This is similar to the SQL distinct operator

# Here we can run unique on the sum level of our current DataFrame 
df['SUMLEV'].unique()

array([40, 50])

In [6]:
# We see that there are only two different values, 40 and 50

In [7]:
# Let's exclue all of the rows that are summaries 
# at the state level and just keep the county data. 
df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [8]:
# Also while this data set is interesting for a number of different reasons,
# let's reduce the data that we're going to look at to just the total population 
# estimates and the total number of births. We can do this by creating 
# a list of column names that we want to keep then project those and 
# assign the resulting DataFrame to our df variable.

columns_to_keep = ['STNAME','CTYNAME','BIRTHS2010','BIRTHS2011','BIRTHS2012','BIRTHS2013',
                   'BIRTHS2014','BIRTHS2015','POPESTIMATE2010','POPESTIMATE2011',
                   'POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [9]:
# The US Census data breaks down population estimates by state and county. We can load the data and 
# set the index to be a combination of the state and county values and see how pandas handles it in 
# a DataFrame. We do this by creating a list of the column identifiers we want to have indexed. And then 
# calling set index with this list and assigning the output as appropriate. We see here that we have 
# a dual index, first the state name and second the county name.

df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [10]:
# An immediate question which comes up is how we can query this DataFrame. We saw previously that 
# the loc attribute of the DataFrame can take multiple arguments. And it could query both the 
# row and the columns. When you use a MultiIndex, you must provide the arguments in order by the 
# level you wish to query. Inside of the index, each column is called a level and the outermost 
# column is level zero. 

# If we want to see the population results from Washtenaw County in Michigan the state, which is 
# where I live, the first argument would be Michigan and the second would be Washtenaw County
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [11]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [12]:
##test
df = pd.read_csv('datasets/census.csv')
columns_to_keep = ['STNAME','CTYNAME','BIRTHS2010','BIRTHS2011','BIRTHS2012','BIRTHS2013',
                   'BIRTHS2014','BIRTHS2015','POPESTIMATE2010','POPESTIMATE2011',
                   'POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
df = df[columns_to_keep]
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Alabama              14226       59689       59062       57938
        Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Alabama              58334       58305          4785161
        Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Alabama                 4801108          4816089          4830533
        Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Alabama                 4846411          4858979
        Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583

In [13]:
#test
df.loc['Alabama', 'Autauga County']

,,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,CTYNAME,,,,,,,,,,,,
Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347

In [14]:
#test
df.loc[('Alabama', 'Autauga County')]

,,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,CTYNAME,,,,,,,,,,,,
Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347

In [15]:
#test
df.iloc[[1]]

,,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,CTYNAME,,,,,,,,,,,,
Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347

In [16]:
df.iloc[[1]]

,,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,CTYNAME,,,,,,,,,,,,
Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347

In [29]:
df.loc['Alabama']

,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
CTYNAME,,,,,,,,,,,,
Alabama,14226,59689,59062,57938,58334,58305,4785161,4801108,4816089,4830533,4846411,4858979
Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673
Bullock County,39,169,122,132,118,123,10887,10629,10606,10628,10829,10696
Butler County,65,276,241,240,267,257,20944,20673,20408,20261,20276,20154
Calhoun County,317,1382,1357,1309,1355,1335,118437,117768,117286,116575,115993,115620
Chambers County,81,401,393,404,421,429,34098,33993,34075,34153,34052,34123
Cherokee County,55,221,245,232,261,250,25976,26080,26023,26084,25995,25859
Chilton County,124,565,565,537,586,561,43665,43739,43697,43795,43921,43943
Choctaw County,29,114,110,138,119,127,13841,13593,13543,13378,13289,13170
Clarke County,49,259,292,269,249,247,25767,25570,25144,25116,24847,24675
Clay County,27,153,147,121,164,149,13880,13670,13456,13467,13538,13555
Cleburne County,41,184,183,177,186,185,14973,14971,14921,15028,15072,15018
Coffee County,168,677,622,617,614,616,50177,50448,51173,50755,50831,51211
Colbert County,162,605,623,589,587,573,54514,54443,54472,54471,54480,54354
Conecuh County,34,158,144,152,140,146,13208,13121,12996,12875,12662,12672
Coosa County,21,95,107,86,96,91,11758,11348,11195,11059,10807,10724
Covington County,102,463,412,476,441,449,37796,38060,37818,37830,37888,37835
Crenshaw County,37,166,149,145,131,138,13853,13896,13951,13932,13948,13963
Cullman County,249,996,926,952,977,960,80473,80469,80374,80756,81221,82005
Dale County,173,692,705,646,667,653,50358,50109,50324,49833,49501,49565
Dallas County,130,583,585,511,584,572,43803,43178,42777,42021,41662,41131
DeKalb County,232,903,869,796,839,833,71142,71387,70942,70869,71012,71130
Elmore County,235,967,960,986,934,948,79465,80012,80432,80883,81022,81468
Escambia County,121,486,444,440,429,438,38309,38213,38034,37857,37784,37789
Etowah County,260,1252,1155,1145,1182,1168,104442,104236,104235,103852,103452,103057
Fayette County,42,186,164,186,198,186,17231,17062,16960,16857,16842,16759
...,...,...,...,...,...,...,...,...,...,...,...,...
Lamar County,33,140,141,143,132,128,14495,14292,14252,14187,14050,13886
Lauderdale County,239,950,893,943,935,958,92747,92618,92680,92729,93063,92596
Lawrence County,78,344,374,372,333,339,34305,34045,33776,33567,33426,33115
Lee County,413,1631,1661,1830,1860,1900,140782,144087,147899,151506,154426,156993
Limestone County,223,1011,1002,976,993,1015,83163,85557,87321,88870,90612,91663
Lowndes County,37,148,148,140,117,118,11275,11119,10852,10725,10555,10458
Macon County,65,216,210,177,189,194,21545,21269,20479,19852,19387,19105
Madison County,964,4249,4034,4002,4128,4185,336138,339574,342696,346720,350112,353089
Marengo County,48,233,251,234,260,257,20942,20708,20449,20210,20136,20028
Marion County,74,291,325,304,305,301,30800,30727,30515,30278,30246,30168
Marshall County,323,1309,1290,1211,1226,1214,93146,93906,94228,94377,94356,94725
Mobile County,1346,5606,5679,5391,5655,5585,413332,413062,413750,414121,414926,415395
Monroe County,56,257,246,227,201,197,22982,22776,22585,22154,21897,21673
Montgomery County,711,3147,3117,3093,3168,3099,229723,231496,229286,227000,226389,226519
Morgan County,384,1504,1395,1393,1411,1406,119603,119945,120112,119654,119656,119565
Perry County,32,134,125,119,84,89,10540,10510,10180,9993,9855,9652
Pickens County,53,220,223,197,230,227,19716,19359,19355,19365,20339,20864
Pike County,93,390,412,350,374,368,32957,32903,33105,33630,33090,33046
Randolph County,42,221,241,268,231,239,22891,22802,22628,22630,22486,22696
Russell County,191,800,902,866,897,900,53297,54869,57771,59497,59712,59660
St. Clair County,278,1101,1059,1047,988,1000,83812,84317,85160,86210,86561,87074
Shelby County,631,2478,2379,2404,2333,2331,196048,197985,200830,203925,206199,208713
Sumter County,27,129,126,136,147,142,13740,13508,13451,13402,13243,13103
Talladega County,202,854,896,875,869,868,82071,81821,81931,81314,81258,80862
Tallapoosa County,128,467,498,446,470,472,41502,41453,41163,41191,41112,40844
Tuscaloosa County,560,2405,2450,2399,2444,2463,194977,196638,198543,200615,202519,203976
Walker County,218,814,826,753,774,762,67004,66641,66184,65929,65567,65294
Washington County,41,169,165,159,139,147,17610,17336,17115,16869,16863,16804
Wilcox County,21,142,136,139,131,130,11557,11488,11365,11210,11052,11059
Winston County,59,252,229,250,242,250,24401,24340,24176,24154,24101,23877

In [17]:
# If you are interested in comparing two counties, for example, Washtenaw and Wayne County, we can 
# pass a list of tuples describing the indices we wish to query into loc. Since we have a MultiIndex 
# of two values, the state and the county, we need to provide two values as each element of our 
# filtering list. Each tuple should have two elements, the first element being the first index and 
# the second element being the second index.

# Therefore, in this case, we will have a list of two tuples, in each tuple, the first element is 
# Michigan, and the second element is either Washtenaw County or Wayne County

df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

Okay so that's how hierarchical indices work in a nutshell. They're a special part of the pandas library which I 
think can make management and reasoning about data easier. Of course hierarchical labeling isn't just for rows. 
For example, you can transpose this matrix and now have hierarchical column labels. And projecting a single 
column which has these labels works exactly the way you would expect it to. Now, in reality, I don't tend to use 
hierarchical indicies very much, and instead just keep everything as columns and manipulate those. But, it's a 
unique and sophisticated aspect of pandas that is useful to know, especially if viewing your data in a tabular 
form.